{% extends 'base.html.twig' %}

{% block title %}Создать новую категорию{% endblock %}

{% block body %}
    <div class="container">
    <h2 class="text-center my-4 text-dark">Создать новую категорию</h2>
    {{ include('category/_form.html.twig') }}
        <a href="{{ path('category_index') }}" class="btn btn-outline-secondary my-4">Вернуться к списку</a>
    </div>
{% endblock %}
