{% extends 'base.html.twig' %}

{% block title %}New SubSubCategory{% endblock %}

{% block body %}
    <h1>Create new SubSubCategory</h1>

    {{ include('sub_sub_category/_form.html.twig') }}

    <a href="{{ path('sub_sub_category_index') }}">back to list</a>
{% endblock %}
