<form method="post" action="{{ path('contact_form_delete', {'id': contact_form.id}) }}" onsubmit="return confirm('Вы действительно хотите удалить этот запрос?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact_form.id) }}">
    <button class="btn bg-danger my-4 text-white">Удалить</button>
</form>
