@import "app.css";

$btn-border-radius: 0.2rem;
$red:     #da251c !default;
$carousel-control-color: #da251c;
$carousel-caption-color:#da251c;
$carousel-indicator-active-bg:#da251c;

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat_ru.ttf');
}


@import "~bootstrap/scss/bootstrap";
.bg-danger {
    background-color: #da251c !important;
}

body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', serif;
}

