@import "app.css";
$btn-border-radius: 0.2rem;
$red:     #da251c !default;

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat_ru.ttf');
}

@import "~bootstrap/scss/bootstrap";
.bg-danger {
    background-color: #da251c !important;
}

body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', serif;
}

