{% extends 'base.html.twig' %}

{% block title %}Изменить Продукт{% endblock %}

{% block body %}
    <h1 class="text-center my-4 text-dark">Изменить Продукт</h1>
    <div class="container">
    {{ include('product/_form.html.twig', {'button_label': 'Изменить'}) }}

        <a href="{{ path('product_index') }}" class="btn btn-secondary">Вернуться к списку</a>

        {{ include('product/_delete_form.html.twig') }}

    </div>
{% endblock %}
