{% extends 'base.html.twig' %}

{% block title %}Изменить Продукт{% endblock %}

{% block body %}
    <h1 class="text-center my-4 text-dark">Изменить Продукт</h1>
    <div class="container my-4">
    {{ include('product/_form.html.twig', {'button_label': 'Изменить'}) }}
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <a href="{{ path('product_index') }}" class="btn btn-outline-secondary btn-block mb-2"><i class="fas fa-arrow-left mr-2"></i>Вернуться к списку</a>
                {{ include('product/_delete_form.html.twig') }}
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
{% endblock %}
