{% extends 'base.html.twig' %}

{% block title %}Создать новый продукт{% endblock %}

{% block body %}
    <div class="container">
    <h2 class="text-center my-4 text-dark">Создать новый продукт</h2>
    {{ include('product/_form.html.twig') }}
        <a href="{{ path('product_index') }}" class="btn btn-secondary">Вернуться к списку</a>
    </div>

{% endblock %}
