{% extends 'base.html.twig' %}

{% block title %}Новый товар{% endblock %}

{% block body %}
    <h1 class="text-center text-dark mt-3 mb-5">Создать новый товар</h1>
    <div class="container">
    {{ include('product/_form.html.twig') }}
    </div>
{% endblock %}
