{% extends 'base.html.twig' %}

{% block body %}
    <h1>Страничка не найдена!</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('home') }}">Вернуться домой</a>.
    </p>
{% endblock %}